* {
    border: solid 1px red;
}

.faq-card {
    width: 920px;
    min-height: 464px;
    max-height: 520px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
    overflow: hidden;
}

.faq-title {
    text-align: left;
}

.faq-bg {
    width: 50%;
    min-height: 464px;
    max-height: 520px;
    background-image: url(../images/bg-pattern-desktop.svg);
    background-size: 600px;
    background-position: -300px;
    overflow: hidden;
}

.img-card {
    display: none;
}

.img-box {
    width: 140px;
    display: inline-block;
    position: absolute;
    z-index: 5;
    top: 162px;
    left: -70px;
}

.img-card__desktop {
    display: inline-block;
    width: 380px;
    position: absolute;
    z-index: 1;
    top: 150px;
    left: -80px;
}

.faq-content {
    width: 50%;
    height: 100%;
    padding: 45px 45px 45px 0px ;
}